body {
    margin: 0;
    display: flex;
    justify-content: center;
}

h3{
    margin:0.5rem;
}



header {
    grid-area: header;
    background-color: blue;
}

.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main_content {
    grid-area: main_content;
    background-color: coral;
}

footer {
    grid-area: footer;
    background-color: crimson;
}

.grid_template_container {
    display: grid;
    grid-template-columns: 15vw 50vw;
    grid-template-rows: 10vw 45vw 5vw;
    grid-template-areas: 
    "header header"
    "sidebar main_content"
    "footer footer";
}